<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" th:fragment="artcle_table">
    <thead><h3>最新发布</h3></thead>
    <tbody>
    <tr  th:each="at:${ats}">
        <div class="border border-right-0 border-left-0 p-3">
            <dl>
                <dt>
                    <a class="text-dark" th:href="@{'/article/'+${at.getAId()}}" th:text="${at.getTitle()}"></a>
                </dt>
                <dd th:text="${at.getContent()}">

                </dd>
                <dd>
                    <div class="d-flex p-1  text-darke">
                        <p class="mr-4"><a class="text-dark mr-1" th:href="@{'/personal_center/'+${at.getAuthor()}}"
                                           th:text="${at.getAuthor()}"></a></p>
                        <p class="mr-4">访问量：<span th:text="${at.getReadCount()}"></span></p>
                        <p class="mr-4">点赞：<span th:text="${at.getLikeCount()}"></span></p>
                    </div>
                </dd>
            </dl>
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>