<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css">
    <link rel="icon" href="/asserts/image/geek_logo.png">
    <link rel="stylesheet" href="/asserts/css/index.css">
    <link rel="stylesheet" href="/asserts/css/top_nav.css">
    <script src="/asserts/js/jquery-3.4.1.js"></script>
    <script src="/asserts/js/bootstrap.min.js"></script>
    <title>极客书 | 个人中心</title>
</head>
<body>
<div th:replace="~{component/top_nav::top_nav}"></div>
<div th:replace="~{component/mid_nav::mid_nav}"></div>
<div class="container">
    <p th:text="'用户名：'+${user.getUsername()}"></p>
    <p th:text="'邮箱：'+${user.getEmail()}"></p>
    <p th:text="'手机号码：'+${user.getPhoneNumbers()}"></p>
    <p th:text="'性别：'+${user.getSex()==1?'男':'女'}"></p>
    <p th:text="'公司：'+${user.getCompany()}"></p>
    <p th:text="'自己的话：'+${user.getMotto()}"></p>
    <p th:text="'极客年龄：'+${user.getStartDate()}"></p>
    <a class="btn btn-warning" href="#">修改</a>
</div>

</body>
</html>