<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css">
    <link rel="stylesheet" href="/asserts/css/index.css">
    <link rel="stylesheet" href="/asserts/css/top_nav.css">
    <link rel="stylesheet" href="/asserts/css/mid_nav.css">
    <link rel="icon" href="/asserts/image/geek_logo.png">
    <script src="/asserts/js/jquery-3.4.1.js"></script>
    <script src="/asserts/js/bootstrap.min.js"></script>
    <title>极客书 | 个人中心</title>
</head>
<body>
<div th:replace="~{component/top_nav::top_nav}"></div>
<div th:replace="~{component/mid_nav::mid_nav}"></div>
<div class="container">
    <p class="text-center" th:if="${ats==null}">还没有写过作品,加油</p>
    <div th:replace="~{component/article_table::artcle_table}"></div>
</div>
</body>
</html>